ion-content {
  --background:white ;
}
@keyframes rotate-in-center{0%{transform:rotate(-360deg);opacity:0}100%{transform:rotate(0);opacity:1}}
.container{
  animation:rotate-in-center .6s cubic-bezier(.25,.46,.45,.94) both;  
    img{
        height: 100px;
        margin-top: 60%;
    }
  }

