<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Acerca de Mí
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acerca de Mí</ion-title>
    </ion-toolbar>
  </ion-header>

  <div name="Acerca de Mí">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Mi Nombre</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p style="font-size: 18px;">Hola, soy Francisco Carmona Lopez, soy de un pueblo de Cordoba llamado Montemayor y tengo 21 años</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Sobre Mí</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p style="font-size: 18px;">Esta es mi página "Acerca de Mí". Aquí encontrarás información sobre quién soy, Sobre la app y otras cosas relevantes.</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Sobre la app</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p style="font-size: 18px;">Esta Aplicacion echa con angular/ionic nos sirve para poder guardar notas, crearlas, editarlas. </p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Contacto</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p style="font-size: 18px;">Puedes ponerse en contacto conmigo a través de mi correo electrónico: <a href="mailto:franciscocarmonalopez7@gmail.com">franciscocarmonalopez7&#64;gmail.com</a>.</p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
