ion-card {
    background-color: #f9f9f9;
    border-radius: 15px;
    margin: 10px;
  }
  
  ion-card-header {
    background-color: #4a69bd;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  ion-card-title {
    color: white;
  }
  
  ion-card-content {
    color: #333;
  }